/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-inline: var(--padding-main);
  padding-block-end: var(--padding-main);
  font-family: var(--main-font, sans-serif);
  font-size: 1.125rem;
  color: var(--text-color);
}

.header {
  position: relative;
  display: grid;
}

.header__span_rec {
  display: none;
  position: absolute;
  top: 11px;
  right: 39px;
  color: var(--text-color);
  line-height: 139%;
  text-align: center;
  text-transform: uppercase;
}

.header__span_rec::after {
  content: "";
  position: absolute;
  top: var(--padding-main);
  right: 0;
  margin: -2px -20px 0 0;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: var(--padding-main);
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
}

.header__theme-menu {
  padding-block-start: 4.825rem;
}

.header__theme-menu-list {
  align-self: center;
  display: grid;
  gap: 0.8125rem;
  justify-content: end;
  align-items: center;
  list-style: none;
  text-align: center;
  text-transform: lowercase;
}

.header__theme-menu-button {
  color: var(--title-color);
  padding-block: 0px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  padding-block: 0px;
  padding-inline: 0.8125rem;
  outline: 1px solid var(--outline-color);
}

.header__title {
  margin-block: 4.17rem 3.44rem;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--high-title-color);
  font-weight: 700;
  text-shadow: 4px 4px 0px var(--accent-color);
  text-wrap: wrap;
}

.header__descritption {
  color: var(--subtitle-color);
  margin-block-end: 56px;
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 130%;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--title-color);
  margin-block-start: 50px;
  font-weight: 700;
  line-height: 130%;
}

.main__subsection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__subsection-subtitle {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 130%;
}

.main__subsection-description {
  line-height: 130%;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.main__subsection-subtitle-list {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  line-height: 130%;
}

.main__subsection .main__subsection-subtitle-list:nth-child(2) {
  margin-block-start: 10px;
}

h2.main__subsection-subtitle {
  margin-block: 50px -10px;
}

.main__section__pictures {
  display: grid;
  grid-auto-flow: dense;
  gap: 10px;
}

.main__section__pictures-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: 100%;
  margin-block-start: 40px;
  position: relative;
}

.footer__title {
  padding: 286px 3px;
  color: var(--high-title-color);
  font-weight: 700;
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0px var(--accent-color);
}