.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 var(--padding-main) var(--padding-main);
  font-family: var(--main-font, sans-serif);
  font-size: 1.125rem;
  color: var(--text-color);
}

@media screen and (width >= 768px) {
  :root {
    --padding-main: 1.25rem;
  }
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 3.5rem;
  position: relative;
  block-size: 100svh;
}

.header__span_rec {
  display: none;
  position: absolute;
  top: 11px;
  right: 39px;
  color: var(--text-color);
  line-height: 139%;
  text-align: center;
  text-transform: uppercase;
}

.header__span_rec::after {
  content: "";
  position: absolute;
  top: var(--padding-main);
  right: 0;
  margin: -2px -20px 0 0;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: var(--padding-main);
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: var(--padding-main);
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
}

.header__theme-menu {
  padding-block-end: 0.72rem;
  align-self: end;
} 

@media screen and (1024px > width >= 768px) {
  .header__theme-menu {
    padding-block-end: 1rem;
  }
}

.header__theme-menu-list {
  align-self: center;
  display: grid;
  gap: 0.8125rem;
  justify-content: end;
  align-items: center;
  list-style: none;
  text-align: center;
  text-transform: lowercase;
}

.header__theme-menu-button {
  color: var(--title-color);
  padding-block: 0;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  padding-block: 0;
  padding-inline: 0.8125rem;
  outline: 1px solid var(--outline-color);
}

.header__title {
  justify-self: start;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--high-title-color);
  font-weight: 700;
  text-shadow: 4px 4px 0px var(--accent-color);
  text-wrap: wrap;
}

@media screen and (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    margin-inline-start: calc(-1 * var(--padding-main));
  }
}

.header__description {
  align-self: start;
  justify-self: end;
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  line-height: 130%;
}

@media screen and (width >= 768px) {
  .header__description {
    inline-size: 50%;
  }
}

.header__description-paragraph {
  font-weight: 700;
}

.main__section {
  display: grid;
  gap: 1.25rem;
}

@media screen and (width >= 768px) {
  .main__section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.main__section-title {
  color: var(--title-color);
  font-weight: 700;
  line-height: 130%;
}


@media screen and (width >= 768px) {
  .main__section-title {
    grid-row: span 2;
  }
}

.main__section {
  padding-block-start: 3.125rem;
}

.main__section:first-child {
  padding-block-start: calc(3.125rem - var(--padding-main));
}

@media screen and (width >= 768px) {
  .main__section-title{
    padding-block-start: 5rem;
  }
  .main__section:first-child > .main__section-title {
    padding-block-start: calc(5rem - var(--padding-main));
  }
}

.main__subsection {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.main__subsection-subtitle {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 130%;
}

.main__subsection-description {
  line-height: 130%;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color);
}

.main__subsection-subtitle-list {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  line-height: 130%;
}

.main__subsection .main__subsection-subtitle-list:nth-child(2) {
  margin-block-start: 0.625rem;
}

.main__section:last-child {
  gap: 0.625rem;
}

.main__section__pictures {
  display: grid;
  grid-auto-flow: dense;
  gap: 0.625rem;
}

.main__section__pictures-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: 100svh;
  margin-block-start: 2.5rem;
  position: relative;
}

.footer__title {
  padding: 17.9rem 0.19rem;
  color: var(--high-title-color);
  font-weight: 700;
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0px var(--accent-color);
}