:root {
  --main-font: 'IBM Plex mono';
  --padding-main: 0.625rem;
  --text-color: #353430;
  --high-title-color: #ffc2e6;
  --title-color: #353430;
  --subtitle-color: #353430;
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --outline-color: #353430;
  --border-color: var(--text-color);
  --bg-image: url(../images/cover-image-light.png);
  --rec-color: var(--bg-color);
  --outline-hover-color: rgba(50, 49, 45, 0.40);
}

@media screen and (width >= 768px) {
  :root {
    --padding-main: 1.25rem;
  }
}